
<center>
  <h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
</center>

<p><%= @game.player_1.name %>: <%= @game.player_1.hp %> Hit Points</p>
<p><%= @game.player_2.name %>: <%= @game.player_2.hp %> Hit Points</p>


<form action="/attack" method="get">
  <input type="submit" value="Scratch">
</form>
